@page "/"

<div class="container body-content">
    <div class="jumbotron">
        <h1>
        </h1>
        <img width="150" src="assets/images/fullpicture.png" />
        <p class="lead">
            Ping Pong is a location-sharing app that makes it easy to coordinate meeting up with friends and family
        </p>
        <!-- ngIf: (isIPad || isIPhone) && isMobile -->
        <!-- ngIf: isAndroid && isMobile -->
        <!-- ngIf: isWindowsPhone && isMobile -->
        <!-- ngIf: isDebug -->
    </div>
    <!-- ngIf: isMobile -->
    <!-- ngIf: isMobile == false --><!-- ngIf: isMobile == false -->
    <div class="jumbotron">
        <div>
            <img src="assets/images/table_tennis_2.png" />
        </div>
        <p class="lead">
            You can send a Ping to a friend and receive back a Pong. It's a funny way to stay in touch :)
        </p>
    </div>
    <hr>
    <div class="jumbotron">
        <div>
            <a href="about">
                <img src="assets/images/mobile-application.png" />
            </a>
        </div>
        <p class="lead">
            This app is available for Android and IPhone, tablets and IPad's
        </p>
    </div>
    <hr>
    <div class="jumbotron">
        <div>
            <a href="about">
                <img src="assets/images/catchme_friends.png" />
            </a>
        </div>
        <p class="lead">
            You can connect with a friend and share your position on a map or you can send your position by email with one click.
        </p>
    </div>
    <hr>
    @*<div class="jumbotron">
            <div>
                <iframe width="300" height="200" src="#" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <p class="lead">
                Basic Usage video
            </p>
        </div>*@
    <div class="row ng-scope" ng-if="isMobile == false">
        <div class="col-md-6">
            <a href="#">
                <img src="assets/images/app-store-badge_.png" />
            </a>
        </div>
        <div class="col-md-6">
            <a href="#">
                <img src="assets/images/en_app_rgb_wo_60.png" />
            </a>
        </div>
    </div><!-- end ngIf: isMobile == false --><!-- end ngIf: isMobile == false -->
    <hr>
</div>
<hr>
<footer>
    <p>© 2020 - PingPong App - RDN Software</p>
</footer>